# Ambiente virtual Python
.venv/
venv/

# Arquivos de ambiente
.env

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de distribuição Python
dist/
build/
*.egg-info/

# Arquivos de IDE
.vscode/
.idea/

# Cache do Jupyter Notebook
.ipynb_checkpoints/

# Arquivos de banco de dados SQLite
*.sqlite

# Arquivos grandes que serão distribuídos via Releases
tools_project/*.exe
tools_project/*.zip
release_files/
*.pdf